Repository mmgfrcs/p2k23-01-project, changes with the owners that CODEOWNERS names for each.
All owners: @mmgfrcs, @Zenphyllius, @RezaMaulana98

CODEOWNERS:

# Global Owner

* @mmgfrcs

# Lead is responsible for their folders, with fallback

/Assets/Audio/* @Zenphyllius @mmgfrcs
/Assets/Sprites/* @RezaMaulana98 @mmgfrcs

/Assets/Audio/** @Zenphyllius @mmgfrcs
/Assets/Sprites/** @RezaMaulana98 @mmgfrcs

# Lead is responsible for their respective files

*.ogg @Zenphyllius
*.png @RezaMaulana98

Fix Tower Not Shooting and Map Expansion
  Assets/Databases/SupermapExpansionConfig.asset
  Assets/Scripts/Entities/Tower.cs
Owners: @mmgfrcs

Fix Bullet and Panel
  Assets/Databases/SupermapExpansionConfig.asset
  Assets/Fonts/JosefinSans.asset
  Assets/Prefabs/Entities/Bullet/Bullet.prefab
  Assets/Scenes/Game.unity
  Assets/Scripts/Editor/MapConfigGenerator.cs
  Assets/Scripts/Editor/MapConfigGenerator.cs.meta
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Managers/AudioManager.cs
  Assets/Scripts/Map/Map.cs
  Assets/Scripts/UI/TowerBuyPanel.cs
  Assets/Scripts/UI/TowerDetailPanel.cs
  Assets/Sprites/Palette/Palette asset/Tower - Normal - Base.asset
Owners: @mmgfrcs, @RezaMaulana98

Balance Adjustments
  Assets/Databases/DefaultSpawnConfig.asset
  Assets/Scripts/Editor/GraphValueGenerator.cs
  Assets/Scripts/Editor/GraphValueGenerator.cs.meta
  Assets/Scripts/Editor/MapConfigGenerator.cs
  Assets/Scripts/Map/Map.cs
Owners: @mmgfrcs

Version Text
  Assets/Scenes/Main Menu.unity
  Assets/Scripts/UI/VersionText.cs
  Assets/Scripts/UI/VersionText.cs.meta
Owners: @mmgfrcs

UI and Gameplay Improvements
  Assets/Fonts/JosefinSans.asset
  Assets/Prefabs/Entities/Towers/Air.prefab
  Assets/Prefabs/Entities/Towers/Missile.prefab
  Assets/Prefabs/Entities/Towers/Normal.prefab
  Assets/Prefabs/Entities/Towers/Slow.prefab
  Assets/Prefabs/Entities/Towers/Sniper.prefab
  Assets/Resources/UI/DPSIcon.png
  Assets/Resources/UI/DPSIcon.png.meta
  Assets/Resources/UI/KillsIcon.png
  Assets/Resources/UI/KillsIcon.png.meta
  Assets/Scenes/Game.unity
  Assets/Scenes/Main Menu.unity
  Assets/Scripts/Editor/GraphValueGenerator.cs
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Entities/Enemy.cs
  Assets/Scripts/Entities/Tower.cs
  Assets/Scripts/Managers/AudioManager.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Map/Map.cs
  Assets/Scripts/UI/MainMenuTitle.cs
  Assets/Scripts/UI/NextExpansionObjective.cs
  Assets/Scripts/UI/NextExpansionObjective.cs.meta
  Assets/Scripts/UI/TowerBuyListItem.cs
  Assets/Scripts/UI/TowerBuyPanel.cs
  Assets/Scripts/UI/TowerDetailPanel.cs
  Assets/Scripts/UI/UILabel.cs
  Assets/Scripts/UI/WaveIndicator.cs
  Assets/Scripts/UI/WaveIndicator.cs.meta
  Assets/Scripts/UI/WaveIndicatorGroup.cs
  Assets/Scripts/UI/WaveIndicatorGroup.cs.meta
Owners: @mmgfrcs, @RezaMaulana98

Boss Balance, New Waves
  Assets/Databases/DefaultSpawnConfig.asset
Owners: @mmgfrcs

Bullets
  Assets/Sprites/Bullets.meta
  Assets/Sprites/Bullets/Bullet - Air.png
  Assets/Sprites/Bullets/Bullet - Air.png.meta
  Assets/Sprites/Bullets/Bullet - Missile.png
  Assets/Sprites/Bullets/Bullet - Missile.png.meta
  Assets/Sprites/Bullets/Bullet - Normal.png
  Assets/Sprites/Bullets/Bullet - Normal.png.meta
  Assets/Sprites/Bullets/Bullet - Sniper.png
  Assets/Sprites/Bullets/Bullet - Sniper.png.meta
  Assets/Sprites/Bullets/Bullet - Splash.png
  Assets/Sprites/Bullets/Bullet - Splash.png.meta
Owners: @RezaMaulana98, @mmgfrcs

Bullet & Trails
  Assets/Prefabs/Entities/Bullet/Bullet.prefab
  Assets/Prefabs/Entities/Bullet/BulletAir.prefab
  Assets/Prefabs/Entities/Bullet/BulletAir.prefab.meta
  Assets/Prefabs/Entities/Bullet/BulletMissile.prefab
  Assets/Prefabs/Entities/Bullet/BulletMissile.prefab.meta
  Assets/Prefabs/Entities/Bullet/BulletNormal.prefab
  Assets/Prefabs/Entities/Bullet/BulletNormal.prefab.meta
  Assets/Prefabs/Entities/Bullet/BulletSniper.prefab
  Assets/Prefabs/Entities/Bullet/BulletSniper.prefab.meta
  Assets/Prefabs/Entities/Bullet/BulletSplash.prefab
  Assets/Prefabs/Entities/Bullet/BulletSplash.prefab.meta
  Assets/Prefabs/Entities/Towers/Air.prefab
  Assets/Prefabs/Entities/Towers/Missile.prefab
  Assets/Prefabs/Entities/Towers/Normal.prefab
  Assets/Prefabs/Entities/Towers/Sniper.prefab
  Assets/Prefabs/Entities/Towers/Splash.prefab
  Assets/Scenes/Game.unity
  Assets/Scripts/Entities/Bullet.cs
Owners: @mmgfrcs

Death Spritesheet and Animation - Normal Enemy
  Assets/Animations/Enemy.meta
  Assets/Animations/Enemy/Death.meta
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Normal_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Normal_0.controller.meta
  Assets/Sprites/Animation Sheet.meta
  Assets/Sprites/Animation Sheet/Enemy Death.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Death Spritesheet and Animation - Fast Enemy
  Assets/Animations/Enemy/Death/Death Anim - Fast.anim
  Assets/Animations/Enemy/Death/Death Anim - Fast.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Fast_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Fast_0.controller.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Fast.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Fast.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Armored Death Anim Submission
  Assets/Animations/Enemy/Death/Death Anim - Armored.anim
  Assets/Animations/Enemy/Death/Death Anim - Armored.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Armored_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Armored_0.controller.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Armored.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Armored.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Army Death Animation
  Assets/Animations/Enemy/Death/Death Anim - Army.anim
  Assets/Animations/Enemy/Death/Death Anim - Army.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Army_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Army_0.controller.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Army.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Army.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Create mergeable.yml
  .github/mergeable.yml
Owners: @mmgfrcs

Jet and Boss Death Spritesheet
  Assets/Animations/Enemy/Death/Death Anim - Boss.anim
  Assets/Animations/Enemy/Death/Death Anim - Boss.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Jet.anim
  Assets/Animations/Enemy/Death/Death Anim - Jet.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Boss_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Boss_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Jet_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Jet_0.controller.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Boss.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Boss.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Jet.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Jet.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Add Enemy Death Spritesheet and Animation (#10)
  Assets/Animations/Enemy.meta
  Assets/Animations/Enemy/Death.meta
  Assets/Animations/Enemy/Death/Death Anim - Armored.anim
  Assets/Animations/Enemy/Death/Death Anim - Armored.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Army.anim
  Assets/Animations/Enemy/Death/Death Anim - Army.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Boss.anim
  Assets/Animations/Enemy/Death/Death Anim - Boss.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Fast.anim
  Assets/Animations/Enemy/Death/Death Anim - Fast.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Jet.anim
  Assets/Animations/Enemy/Death/Death Anim - Jet.anim.meta
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim.meta
  Assets/Animations/Enemy/Death/Death VFX - Armored_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Armored_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Army_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Army_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Boss_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Boss_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Fast_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Fast_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Jet_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Jet_0.controller.meta
  Assets/Animations/Enemy/Death/Death VFX - Normal_0.controller
  Assets/Animations/Enemy/Death/Death VFX - Normal_0.controller.meta
  Assets/Sprites/Animation Sheet.meta
  Assets/Sprites/Animation Sheet/Enemy Death.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Armored.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Armored.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Army.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Army.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Boss.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Boss.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Fast.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Fast.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Jet.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Jet.png.meta
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Update Github Workflow [CI Skip]
  .github/mergeable.yml
  .github/self-approval-pull-request.yml
  .github/workflows/main.yml
Owners: @mmgfrcs

Update Github Workflow [CI Skip] (#12)
  .github/mergeable.yml
  .github/self-approval-pull-request.yml
  .github/workflows/main.yml
Owners: @mmgfrcs

Fix Publish Workflow [ci skip]
  .github/workflows/main.yml
Owners: @mmgfrcs

Normal Death Spritesheet Changes
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Death Anim - Normal Loop Fix
  Assets/Animations/Enemy/Death/Death Anim - Normal.anim
Owners: @mmgfrcs

Normal Death Spritesheet Changes (#13)
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png
  Assets/Sprites/Animation Sheet/Enemy Death/Death VFX - Normal.png.meta
Owners: @RezaMaulana98, @mmgfrcs

Test commit (after so long not touching this)
  README.md
Owners: @mmgfrcs

Fix Missile, Balance Update
  Assets/Audio/Default.mixer
  Assets/Audio/tower_cannon_shoot.ogg
  Assets/Audio/tower_cannon_shoot.ogg.meta
  Assets/Prefabs/Entities/Towers/Air.prefab
  Assets/Prefabs/Entities/Towers/Missile.prefab
  Assets/Prefabs/Entities/Towers/Normal.prefab
  Assets/Prefabs/Entities/Towers/Slow.prefab
  Assets/Prefabs/Entities/Towers/Sniper.prefab
  Assets/Prefabs/Entities/Towers/Splash.prefab
  Assets/Scenes/Game.unity
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Entities/Tower.cs
  Assets/Scripts/Map/Map.cs
  Assets/Scripts/UI/StartNextButton.cs
  Assets/Scripts/UI/TowerDetailPanel.cs
  Packages/manifest.json
  Packages/packages-lock.json
Owners: @Zenphyllius, @mmgfrcs

Fix base_destroyed SFX
  Assets/Audio/base_destroyed.ogg
Owners: @Zenphyllius

Fix base_destroyed SFX (#15)
  Assets/Audio/base_destroyed.ogg
Owners: @Zenphyllius

Fix SFX Channel, Mod Proj. Settings, Add Zoom
  Assets/Prefabs/Entities/Towers/Slow.prefab
  Assets/Scenes/Game.unity
  Assets/Scripts/Camera.meta
  Assets/Scripts/Camera/CameraZoom.cs
  Assets/Scripts/Camera/CameraZoom.cs.meta
  ProjectSettings/ProjectSettings.asset
Owners: @mmgfrcs

Bullet Splash - Cannon
  Assets/Animations/Bullet.meta
  Assets/Animations/Bullet/Splash.meta
  Assets/Animations/Bullet/Splash/Splash Anim - Cannon.anim
  Assets/Animations/Bullet/Splash/Splash Anim - Cannon.anim.meta
  Assets/Animations/Bullet/Splash/Splash VFX - Cannon_0.controller
  Assets/Animations/Bullet/Splash/Splash VFX - Cannon_0.controller.meta
  Assets/Sprites/Animation Sheet/Bullet Splash.meta
  Assets/Sprites/Animation Sheet/Bullet Splash/Splash VFX - Cannon.png
  Assets/Sprites/Animation Sheet/Bullet Splash/Splash VFX - Cannon.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Modify README.md and Mergeable
  .github/mergeable.yml
  README.md
Owners: @mmgfrcs

Modify README.md and Mergeable (#17)
  .github/mergeable.yml
  README.md
Owners: @mmgfrcs

Splash Animation - Missile
  Assets/Animations/Bullet/Splash/Splash Anim - Missile.anim
  Assets/Animations/Bullet/Splash/Splash Anim - Missile.anim.meta
  Assets/Animations/Bullet/Splash/Splash VFX - Missile_0.controller
  Assets/Animations/Bullet/Splash/Splash VFX - Missile_0.controller.meta
  Assets/Sprites/Animation Sheet/Bullet Splash/Splash VFX - Missile.png
  Assets/Sprites/Animation Sheet/Bullet Splash/Splash VFX - Missile.png.meta
Owners: @mmgfrcs, @RezaMaulana98

New AoE Tower Hit SFX
  Assets/Audio/tower_cannon_hit.ogg
  Assets/Audio/tower_missile_hit.ogg
Owners: @Zenphyllius

New AoE Tower Hit SFX (#18)
  Assets/Audio/tower_cannon_hit.ogg
  Assets/Audio/tower_missile_hit.ogg
Owners: @Zenphyllius

UI Icons
  Assets/Resources/UI/FirstIcon.png
  Assets/Resources/UI/FirstIcon.png.meta
  Assets/Resources/UI/LastIcon.png
  Assets/Resources/UI/LastIcon.png.meta
  Assets/Resources/UI/StrongestIcon.png
  Assets/Resources/UI/StrongestIcon.png.meta
  Assets/Resources/UI/WeakestIcon.png
  Assets/Resources/UI/WeakestIcon.png.meta
Owners: @RezaMaulana98, @mmgfrcs

File Name Rework
  Assets/Animations/Explosion VFX.meta
  Assets/Animations/Explosion VFX/Cannon.meta
  Assets/Animations/Explosion VFX/Cannon/Splash Anim - Cannon.anim
  Assets/Animations/Explosion VFX/Cannon/Splash Anim - Cannon.anim.meta
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller.meta
  Assets/Animations/Explosion VFX/Missile.meta
  Assets/Animations/Explosion VFX/Missile/Splash Anim - Missile.anim
  Assets/Animations/Explosion VFX/Missile/Splash Anim - Missile.anim.meta
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller.meta
  Assets/Resources/UI/TargetingFirstIcon.png
  Assets/Resources/UI/TargetingFirstIcon.png.meta
  Assets/Resources/UI/TargetingLastIcon.png
  Assets/Resources/UI/TargetingLastIcon.png.meta
  Assets/Resources/UI/TargetingStrongestIcon.png
  Assets/Resources/UI/TargetingStrongestIcon.png.meta
  Assets/Resources/UI/TargetingWeakestIcon.png
  Assets/Resources/UI/TargetingWeakestIcon.png.meta
  Assets/Sprites/Animation Sheet/Explosion VFX.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon/Splash VFX - Cannon.png
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon/Splash VFX - Cannon.png.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile/Splash VFX - Missile.png
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile/Splash VFX - Missile.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Explosion Spritesheet and New UI Icons (#19)
  Assets/Animations/Explosion VFX.meta
  Assets/Animations/Explosion VFX/Cannon.meta
  Assets/Animations/Explosion VFX/Cannon/Splash Anim - Cannon.anim
  Assets/Animations/Explosion VFX/Cannon/Splash Anim - Cannon.anim.meta
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller.meta
  Assets/Animations/Explosion VFX/Missile.meta
  Assets/Animations/Explosion VFX/Missile/Splash Anim - Missile.anim
  Assets/Animations/Explosion VFX/Missile/Splash Anim - Missile.anim.meta
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller.meta
  Assets/Resources/UI/TargetingFirstIcon.png
  Assets/Resources/UI/TargetingFirstIcon.png.meta
  Assets/Resources/UI/TargetingLastIcon.png
  Assets/Resources/UI/TargetingLastIcon.png.meta
  Assets/Resources/UI/TargetingStrongestIcon.png
  Assets/Resources/UI/TargetingStrongestIcon.png.meta
  Assets/Resources/UI/TargetingWeakestIcon.png
  Assets/Resources/UI/TargetingWeakestIcon.png.meta
  Assets/Sprites/Animation Sheet/Explosion VFX.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon/Splash VFX - Cannon.png
  Assets/Sprites/Animation Sheet/Explosion VFX/Cannon/Splash VFX - Cannon.png.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile.meta
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile/Splash VFX - Missile.png
  Assets/Sprites/Animation Sheet/Explosion VFX/Missile/Splash VFX - Missile.png.meta
Owners: @mmgfrcs, @RezaMaulana98

Integrate VFX and new Audio
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller
  Assets/Audio/tower_cannon_hit.ogg.meta
  Assets/Audio/tower_missile_hit.ogg.meta
  Assets/Prefabs/Entities/Bullet/Explosion.meta
  Assets/Prefabs/Entities/Bullet/Explosion/ExplCannon.prefab
  Assets/Prefabs/Entities/Bullet/Explosion/ExplCannon.prefab.meta
  Assets/Prefabs/Entities/Bullet/Explosion/ExplMissile.prefab
  Assets/Prefabs/Entities/Bullet/Explosion/ExplMissile.prefab.meta
  Assets/Scenes/Game.unity
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Entities/Tower.cs
  Assets/Scripts/Managers/AudioManager.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Utilities/AudioReturner.cs
  Assets/Scripts/Utilities/EntitySFXType.cs
  Assets/Scripts/Utilities/VFXReturner.cs
  Assets/Scripts/Utilities/VFXReturner.cs.meta
  Assets/Sprites/CleanFlatIcon/png_128/button/button_corner_square1/button_corner_square1_14.png.meta
  Assets/Sprites/Icon.meta
  Assets/Sprites/Icon/TargetingFirstIcon.png
  Assets/Sprites/Icon/TargetingFirstIcon.png.meta
  Assets/Sprites/Icon/TargetingLastIcon.png
  Assets/Sprites/Icon/TargetingLastIcon.png.meta
  Assets/Sprites/Icon/TargetingStrongestIcon.png
  Assets/Sprites/Icon/TargetingStrongestIcon.png.meta
  Assets/Sprites/Icon/TargetingWeakestIcon.png
  Assets/Sprites/Icon/TargetingWeakestIcon.png.meta
Owners: @mmgfrcs, @Zenphyllius, @RezaMaulana98

Speed-up Cannon Explosion VFX
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller
  Assets/Prefabs/Entities/Bullet/Explosion/ExplCannon.prefab
Owners: @mmgfrcs

VFX and New Audio Integration (#20)
  Assets/Animations/Explosion VFX/Cannon/Splash VFX - Cannon_0.controller
  Assets/Animations/Explosion VFX/Missile/Splash VFX - Missile_0.controller
  Assets/Audio/tower_cannon_hit.ogg.meta
  Assets/Audio/tower_missile_hit.ogg.meta
  Assets/Prefabs/Entities/Bullet/Explosion.meta
  Assets/Prefabs/Entities/Bullet/Explosion/ExplCannon.prefab
  Assets/Prefabs/Entities/Bullet/Explosion/ExplCannon.prefab.meta
  Assets/Prefabs/Entities/Bullet/Explosion/ExplMissile.prefab
  Assets/Prefabs/Entities/Bullet/Explosion/ExplMissile.prefab.meta
  Assets/Scenes/Game.unity
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Entities/Tower.cs
  Assets/Scripts/Managers/AudioManager.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Utilities/AudioReturner.cs
  Assets/Scripts/Utilities/EntitySFXType.cs
  Assets/Scripts/Utilities/VFXReturner.cs
  Assets/Scripts/Utilities/VFXReturner.cs.meta
  Assets/Sprites/CleanFlatIcon/png_128/button/button_corner_square1/button_corner_square1_14.png.meta
  Assets/Sprites/Icon.meta
  Assets/Sprites/Icon/TargetingFirstIcon.png
  Assets/Sprites/Icon/TargetingFirstIcon.png.meta
  Assets/Sprites/Icon/TargetingLastIcon.png
  Assets/Sprites/Icon/TargetingLastIcon.png.meta
  Assets/Sprites/Icon/TargetingStrongestIcon.png
  Assets/Sprites/Icon/TargetingStrongestIcon.png.meta
  Assets/Sprites/Icon/TargetingWeakestIcon.png
  Assets/Sprites/Icon/TargetingWeakestIcon.png.meta
Owners: @mmgfrcs, @Zenphyllius, @RezaMaulana98

Fix Pause Menu
  Assets/Scenes/Game.unity
Owners: @mmgfrcs

Fix Pause Menu (#21)
  Assets/Scenes/Game.unity
Owners: @mmgfrcs
