Repository mmgfrcs/p2k23-01-project, changes with the owners that CODEOWNERS names for each.
All owners: @mmgfrcs, @Zenphyllius, @RezaMaulana98

SFX Update
  Assets/Audio/Default.mixer
  Assets/Audio/enemy_destroy.ogg
  Assets/Audio/tower_cannon_shoot.ogg
Owners: @Zenphyllius, @mmgfrcs

SFX Update (#22)
  Assets/Audio/Default.mixer
  Assets/Audio/enemy_destroy.ogg
  Assets/Audio/tower_cannon_shoot.ogg
Owners: @Zenphyllius, @mmgfrcs

14/9 Balance Changes and Fixes
  Assets/Prefabs/Entities/Enemy/Boss1.prefab
  Assets/Prefabs/Entities/Towers/Air.prefab
  Assets/Prefabs/Entities/Towers/Sniper.prefab
  Assets/Prefabs/Entities/Towers/Splash.prefab
  Assets/Scenes/Game.unity
  Assets/Scripts/Entities/Bullet.cs
  Assets/Scripts/Entities/Enemy.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Managers/MapManager.cs
  Assets/Scripts/Managers/MapManager.cs.meta
  Assets/Scripts/Map.meta
  Assets/Scripts/UI/GameOverPanel.cs
  Assets/Scripts/UI/NextExpansionObjective.cs
  Assets/Scripts/UI/StartNextButton.cs
  Assets/Scripts/UI/UILabel.cs
  Assets/Scripts/UI/WaveIndicatorGroup.cs
Owners: @mmgfrcs

Slow & SFX Volume Fix
  Assets/Audio/Default.mixer
  Assets/Scripts/Entities/Enemy.cs
  Assets/Scripts/Managers/AudioManager.cs
  Assets/Scripts/Utilities/AudioReturner.cs
  Assets/Sprites/CleanFlatIcon/png_128/button/button_corner_square1/button_corner_square1_14.png.meta
Owners: @Zenphyllius, @mmgfrcs, @RezaMaulana98

Per-Wave Multiple Enemy Types
  Assets/Databases/DefaultSpawnConfig.asset
  Assets/Scripts/Editor/MapConfigEditor.cs
  Assets/Scripts/Managers/GameManager.cs
  Assets/Scripts/Managers/MapManager.cs
  Assets/Scripts/UI/StartNextButton.cs
  Assets/Scripts/UI/WaveIndicatorGroup.cs
  Assets/Scripts/Utilities/Extensions.cs
  Assets/Scripts/Utilities/SpawnTiming.cs
Owners: @mmgfrcs

Multiple Enemies Indicator, Options
  Assets/Audio/Default.mixer
  Assets/Databases/DefaultSpawnConfig.asset
  Assets/Resources/UI/Enemy - Fast.png.meta
  Assets/Resources/UI/Enemy - Normal.png.meta
  Assets/Scenes/Game.unity
  Assets/Scripts/UI/OptionsPanel.cs
  Assets/Scripts/UI/OptionsPanel.cs.meta
  Assets/Scripts/UI/PauseMenu.cs
  Assets/Scripts/UI/WaveIndicator.cs
  Assets/Scripts/UI/WaveIndicatorGroup.cs
Owners: @Zenphyllius, @mmgfrcs

Save Point
  Assets/Databases/DefaultSpawnConfig.asset
  Assets/Prefabs/UI/OptionsPanel.prefab
  Assets/Prefabs/UI/OptionsPanel.prefab.meta
  Assets/Scenes/Game.unity
  Assets/Scripts/Managers/MapManager.cs
  Assets/Scripts/UI/StartNextButton.cs
  Assets/Scripts/Utilities/AudioReturner.cs
Owners: @mmgfrcs

CODEOWNERS:

# Global Owner

* @mmgfrcs

# Lead is responsible for their folders, with fallback

/Assets/Audio/* @Zenphyllius @mmgfrcs
/Assets/Sprites/* @RezaMaulana98 @mmgfrcs

/Assets/Audio/** @Zenphyllius @mmgfrcs
/Assets/Sprites/** @RezaMaulana98 @mmgfrcs

# Lead is responsible for their respective files

*.ogg @Zenphyllius
*.png @RezaMaulana98
